@using WebProductos.Models

@model List<E_Producto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Principal</title>

    <style>
        .titulo {
            color: red;
        }
    </style>

    <!-- Agregamos archivo .css de Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Agregamos archivo .js de Bootstrap -->
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <h1>Inventario Esto es un cambio</h1>

        <a href="/Producto/IrAgregar" class="btn btn-success mb-3">Nuevo Producto</a>


        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-success">
                <h4>@TempData["mensaje"]</h4>
            </div>
        }

        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">
                <b>Ocurrio un error:</b> @TempData["error"]
            </div>
        }

        <table class="table table-success table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Fecha Ingreso</th>
                    <th>Disponible</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (E_Producto producto in Model)
                {
                    <tr>
                        <td>@producto.IdProducto</td>
                        <td>@producto.Descripcion</td>
                        <td>@producto.Precio.ToString("c")</td>
                        <td>@producto.FechaIngreso.ToString("dd/MM/yyyy") </td>
                        <td>@producto.Disponible</td>
                        <td>
                            <a href="/Producto/IrEditar?idProducto=@producto.IdProducto" class="btn btn-primary">Editar</a>
                            <a href="/Producto/Eliminar?idProducto=@producto.IdProducto" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>
